.mat-card-simples{
  max-width: 300px;
  background-color: darkslategray;
  margin-top: 10px;

}

.mat-card{
  margin-left: 5px;

}

.mat-card-title{
  margin: 5px;
}

.mat-form-principal{
  margin-left: 5px;

}

.mat-card-footer{
  margin: 10px;
  text-align: center;
}

.color{
  background-color: lightslategrey;
}
